.project-container {
  padding: 20px;
  .project-heading-part {
    display: flex;
    gap: 20px;
    align-items: center;
  }

}
.table-container {
  margin-top: 30px;
  padding: 0px 25px;
  width: 100%;
  
}
.schema-comparison-heading-part{
  display: flex;
  flex-direction: column;
}
.process-step-div {
  display: flex;
  align-items: center;
}

.schema-dropdown{
  display: flex;
  gap :10px;
}
.save_button_container{
  display: flex;
  gap: 20px;
  height: 40px;
  // padding-left: 20px;
  align-items: right;
  float: right;
  margin-bottom: 18px;
}