.target-postgres-container {
  padding: 30px;
  .target-postgres {
    margin-top: 20px;
    overflow-y: scroll;
    height: 400px;
  }
  .target-postgres-button-container {
    display: flex;
    gap: 15px;
  }
}
.staper-button-container {
  display: flex;
  gap: 20px;
  height: 40px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-top: 30px;
}
